
@{
    ViewBag.Title = "Index";
}


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sản phẩm đang kinh doanh trong hệ thống </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Danh mục sản phẩm</a></li>
                        <li class="breadcrumb-item active">Danh sách sản phẩm</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách sản phẩm </h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row mt-4">
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <div class="ribbon-wrapper ribbon-lg">
                                            <div class="ribbon bg-success text-lg">
                                                Ribbon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Iphone 13</h4>
                                                <p>Iphone 13 sản phẩm mới ra mắt của Apple mang đến những trải nghiệm tốt cho người dùng </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/Areas/Private/js/img/credit/ip13.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <div class="ribbon-wrapper ribbon-xl">
                                            <div class="ribbon bg-warning text-lg">
                                                Ribbon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Iphone 12</h4>
                                                <p>Iphone 12 sản phẩm với mẫu mã đẹp và sang trọng  </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/Areas/Private/js/img/credit/ip12.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <div class="ribbon-wrapper ribbon-xl">
                                            <div class="ribbon bg-danger text-xl">
                                                Ribbon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Iphone XSmax</h4>
                                                <p>Iphone XSmax vẫn là dòng điện thoại vẫn được người dùng ưa chuộng</p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/Areas/Private/js/img/credit/ipxsmax.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <div class="ribbon-wrapper ribbon-lg">
                                            <div class="ribbon bg-success text-lg">
                                                Ribbon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>Apple Wath</h4>
                                                <p>Apple Wath là phụ kiện đi kèm với dòng điện thoại Apple  </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/Areas/Private/js/img/credit/aw1.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <div class="ribbon-wrapper ribbon-xl">
                                            <div class="ribbon bg-warning text-lg">
                                                Ribbon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4> Apple Wath</h4>
                                                <p>Apple Wath là phụ kiện đi kèm với dòng điện thoại Apple  </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/Areas/Private/js/img/credit/aw2.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <div class="ribbon-wrapper ribbon-xl">
                                            <div class="ribbon bg-danger text-xl">
                                                Ribbon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4> Apple Wath</h4>
                                                <p>Apple Wath là phụ kiện đi kèm với dòng điện thoại Apple  </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/Areas/Private/js/img/credit/aw3.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <div class="ribbon-wrapper ribbon-lg">
                                            <div class="ribbon bg-success text-lg">
                                                Ribbon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>MacBook</h4>
                                                <p>MacBook dùng để soạn thảo văn bản và  thiết kế đồ hoạ,tập video ... </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/Areas/Private/js/img/credit/mac1.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <div class="ribbon-wrapper ribbon-xl">
                                            <div class="ribbon bg-warning text-lg">
                                                Ribbon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>MacBook</h4>
                                                <p>MacBook dùng để soạn thảo văn bản và  thiết kế đồ hoạ,tập video ... </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/Areas/Private/js/img/credit/mac2.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="position-relative p-3 bg-gray" style="height: 180px">
                                        <div class="ribbon-wrapper ribbon-xl">
                                            <div class="ribbon bg-danger text-xl">
                                                Ribbon
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <h4>MacBook</h4>
                                                <p>MacBook dùng để soạn thảo văn bản và  thiết kế đồ hoạ,tập video ...  </p>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="~/Areas/Private/js/img/credit/mac3.jpg" class="img-fluid" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
