
@{
    ViewBag.Title = "Index";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách đơn hàng đã giao thành công </h1>
                </div>
                
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>ID Đơn Hàng</th>
                                        <th>Mã Khách Hàng</th>
                                        <th>Tên Khách Hàng</th>
                                        <th>Tài Khoản</th>
                                        <th>Giới Tính</th>
                                        <th>Trạng Thái</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>01474849</td>
                                        <td>00000123</td>
                                        <td>Đan Lê Uyên Nguyễn</td>
                                        <td>Susu</td>
                                        <td>Nữ</td>
                                        <td><img style="width:30px;height:30px" src="~/Areas/Private/js/img/credit/th.jpg" /></td>
                                    </tr>
                                    <tr>
                                        <td>01575860</td>
                                        <td>00000127</td>
                                        <td>Lưu Chương Quốc Hưng</td>
                                        <td>LuuChuong</td>
                                        <td>Nam</td>
                                        <td><img style="width:30px;height:30px" src="~/Areas/Private/js/img/credit/th.jpg" /></td>
                                    </tr>
                                    <tr>
                                        <td>015656769</td>
                                        <td>00000158</td>
                                        <td>Nguyễn Ngọc Minh Lý</td>
                                        <td>Minhlyy</td>
                                        <td>Nữ</td>
                                        <td><img style="width:30px;height:30px" src="~/Areas/Private/js/img/credit/th.jpg" /></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
</div>
