@using AppleStore.Models
@{
    ViewBag.Title = "Index";
    BaiViet g = ViewData["BaiVietCanXem"] as BaiViet;
}


<section class="hero-wrap hero-wrap-2" style="background-image: url(../Materials/images/ip111.PNG);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center mb-4">
                <h1 class="mb-2 bread">BlogSingle</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("index", "Home")">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                    <img src="@g.hinhDD" alt="" class="img-fluid" />
                    <p>@g.noiDung</p>
                <h2 class="mb-3">Apple Store in Italy: because you always need a quick iOS fix</h2>

                <p>
                    A lot of you coming from around the world might be iOS users, so what are you going
                    to do if you’re here in Italy and you’ve got a problem with your Mac or your iPhone? You
                    need of an Apple Store finder. Well, you can try to fix it on your own, but not advisable
                    if too clumsy or if you just can’t be bothered with buying the various components and following
                    online tutorials. That’s where the beauty of the Apple Store comes in (please Mr.Cook love us and
                    sponsor us). The Apple store Italy list is just what you wanted the most, even you Android users,
                    just to look at the beautiful architecture and think: “My god I wish my phone company would reinvest
                    this much money in amazing structures”.
                </p>

                <img src="~/Materials/images/f2.jpg" alt="" class="img-fluid">

                <p>
                    The main cities of Italy don’t all have Apple Stores within the city center, they do on the
                    outskirts, but not always “downtown”. Apple store Rome Italy for example, you can find them up
                    north and south, but pretty far away from the touristy areas, but this doesn’t mean you can’t get
                    there. While they just opened an Apple store in Milano Italy, not even a month ago (Milan is going
                    full on US-style lately opening a Starbucks and a Five Guys all in the same time-frame, and I’ll say
                    this does make me a happy boy). While an Apple Store in Naples is still not in the works, you’ll find
                    one on the outskirts towards Caserta, but at that point, it’s better if you look on the Apple store finder
                    and find any affiliated stores.
                </p>

                <p>
                    <img src="~/Materials/images/kk.png" alt="" class="img-fluid">
                </p>

                <h2 class="mb-3 mt-5">Apple store Firenze</h2>

                <p>
                    Last, and never least, the Apple store in Florence, was one of the first locations
                    to open within the center of an Italian city, plus it’s in Piazza Della Repubblica and
                    it follows the London Covent Garden location style.
                </p>

                <p>
                    <img src="~/Materials/images/kk1.png" alt="" class="img-fluid">
                </p>

                <p>
                    So if you’re sitting in front of your broken iPhone trying to type in < is there an Apple Store in
                    Italy > we hope you find this article and find the one closest to your student accommodation in Italy.
                </p>

                <p>
                    <img src="~/Materials/images/kk2.png" alt="" class="img-fluid">
                </p>

                <p>
                    First, we’re gonna leave a list of locations and subsequently a little G-Map so you don’t
                    have to search them on your own.
                </p>

                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                        <a href="#" class="tag-cloud-link">iPhone</a>
                        <a href="#" class="tag-cloud-link">Mac</a>
                        <a href="#" class="tag-cloud-link">Watch</a>
                        <a href="#" class="tag-cloud-link">iPad</a>
                    </div>
                </div>

                <div class="about-author d-flex p-4 bg-light">
                    <div class="bio mr-5">
                        <img src="~/Materials/images/person_1.jpg" alt="Image placeholder" class="img-fluid mb-4">
                    </div>
                    <div class="desc">
                        <h3>George Washington</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                    </div>
                </div>


                <div class="pt-5 mt-5">
                    <h3 class="mb-5 h4 font-weight-bold p-4 bg-light">07 Feedbacks</h3>
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="vcard bio">
                                <img src="~/Materials/images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>John Doe</h3>
                                <div class="meta mb-2">Sept. 07, 2019 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply">Reply</a></p>
                            </div>
                        </li>

                        <li class="comment">
                            <div class="vcard bio">
                                <img src="~/Materials/images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>John Doe</h3>
                                <div class="meta mb-2">Sept. 07, 2019 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply">Reply</a></p>
                            </div>

                            <ul class="children">
                                <li class="comment">
                                    <div class="vcard bio">
                                        <img src="~/Materials/images/person_1.jpg" alt="Image placeholder">
                                    </div>
                                    <div class="comment-body">
                                        <h3>John Doe</h3>
                                        <div class="meta mb-2">Sept. 07, 2019 at 2:21pm</div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                        <p><a href="#" class="reply">Reply</a></p>
                                    </div>


                                    <ul class="children">
                                        <li class="comment">
                                            <div class="vcard bio">
                                                <img src="~/Materials/images/person_1.jpg" alt="Image placeholder">
                                            </div>
                                            <div class="comment-body">
                                                <h3>John Doe</h3>
                                                <div class="meta mb-2">Sept. 07, 2019 at 2:21pm</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                                <p><a href="#" class="reply">Reply</a></p>
                                            </div>

                                            <ul class="children">
                                                <li class="comment">
                                                    <div class="vcard bio">
                                                        <img src="~/Materials/images/person_1.jpg" alt="Image placeholder">
                                                    </div>
                                                    <div class="comment-body">
                                                        <h3>John Doe</h3>
                                                        <div class="meta mb-2">Sept. 07, 2019 at 2:21pm</div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                                        <p><a href="#" class="reply">Reply</a></p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="comment">
                            <div class="vcard bio">
                                <img src="~/Materials/images/person_1.jpg" alt="Image placeholder">
                            </div>
                            <div class="comment-body">
                                <h3>John Doe</h3>
                                <div class="meta mb-2">Sept. 07, 2019 at 2:21pm</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus, ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum impedit necessitatibus, nihil?</p>
                                <p><a href="#" class="reply">Reply</a></p>
                            </div>
                        </li>
                    </ul>
                    <!-- END comment-list -->

                    <div class="comment-form-wrap pt-5">
                        <h3 class="mb-5 h4 font-weight-bold p-4 bg-light">Leave a comment</h3>
                        <form action="#" class="p-4 p-md-5 bg-light">
                            <div class="form-group">
                                <label for="name">Name *</label>
                                <input type="text" class="form-control" id="name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email *</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="url" class="form-control" id="website">
                            </div>

                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea name="" id="message" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                            </div>

                        </form>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->

            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon icon-search"></span>
                            <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                        </div>
                    </form>
                </div>
                <div class="sidebar-box ftco-animate">
                    <h3>Category</h3>
                    <ul class="categories">
                        <li><a href="#">iPhone <span>(6)</span></a></li>
                        <li><a href="#">Mac <span>(8)</span></a></li>
                        <li><a href="#">Watch <span>(2)</span></a></li>
                        <li><a href="#">iPad <span>(2)</span></a></li>
                        <li><a href="#">AirPods <span>(2)</span></a></li>
                        <li><a href="#">TV <span>(2)</span></a></li>
                    </ul>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Popular Articles</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(../Materials/images/f1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Apple Store in Italy: because you always need a quick iOS fix</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> June 25, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 2002</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(../Materials/images/f2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Apple Store in Italy: because you always need a quick iOS fix</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> June 25, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 1500</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(../Materials/images/f3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Apple Store in Italy: because you always need a quick iOS fix</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> June 25, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Dave Lewis</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 1933</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Tag Cloud</h3>
                    <ul class="tagcloud m-0 p-0">
                        <a href="#" class="tag-cloud-link">iPhone</a>
                        <a href="#" class="tag-cloud-link">Mac</a>
                        <a href="#" class="tag-cloud-link">Watch</a>
                        <a href="#" class="tag-cloud-link">iPad</a>
                        <a href="#" class="tag-cloud-link">AirPods</a>
                        <a href="#" class="tag-cloud-link">TV</a>
                        <a href="#" class="tag-cloud-link">Support</a>
                    </ul>
                </div>

                <div class="sidebar-box ftco-animate">
                    <h3>Archives</h3>
                    <ul class="categories">
                        <li><a href="#">January 2019 <span>(20)</span></a></li>
                        <li><a href="#">December 2018 <span>(30)</span></a></li>
                        <li><a href="#">Novemmber 2018 <span>(20)</span></a></li>
                        <li><a href="#">September 2018 <span>(6)</span></a></li>
                        <li><a href="#">August 2018 <span>(8)</span></a></li>
                    </ul>
                </div>


                <div class="sidebar-box ftco-animate">
                    <h3>Paragraph</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos fugit cupiditate numquam!</p>
                </div>
            </div><!-- END COL -->
        </div>
    </div>
</section>




